/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 17pt;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		width: 300px;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-left: 300px;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 300px;
	}